---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}" class="created-date">
      Created at {{ page.date | date: "%F" }}
    </time>
    {% if page.last_modified_at %}
    <br>
    <time datetime="{{ page.last_modified_at }}" class="modified-date">
      Last modified at {{ page.last_modified_at | date: "%F" }}
    </time>
    {% endif %}
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}"
  },
  "description": "{{ page.description | default: page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  }
}
</script>